@font-face {
  font-family: "Inter";
  src: url('../resources/fonts/RasmusAndersson-Inter/1593443255914-Inter-V.ttf');
}

:root {  
  --merge-margin: 0.01rem;
  --merge-margin-neg: -0.01rem;

  --small-padding: .1rem;
  --medium-padding: .35rem;
  --large-padding: .75rem;

  --shadow-size: 8px;
  --shadow-size-half: 4px;
  --shadow-size-neg: -8px;
  --shadow-size-half-neg: -4px;

  --delimiter-width: .01rem;

  --schematic-dot-radius: .4rem;
  --schematic-line-length: 2.5rem;
  --schematic-line-thickness: .06rem;

  --box-large-width: 15rem;
  --box-small-width: 7.25rem;
  
  --box-vertical-margin: .15rem;
  --box-vertical-large-margin: .3rem;

  --box-border-width: 1px;
  --box-border-radius: 0.2rem;

  --main-text-color: white;
  --sub-text-color: rgb(181, 189, 206);

  --main-bg-color: rgb(2, 9, 26);
  --bg-light-1-color: rgba(33, 21, 71, 0.76);
  --bg-light-2-color: rgba(27, 35, 78, 0.8);
  --bg-light-3-color: rgba(30, 65, 65, 0.47);

  --shadow-color: black;

  --box-bg-color-gradient-start: rgb(31, 33, 73);
  --box-secondary-color: rgb(217, 217, 217);
  --box-border-color: rgb(29, 31, 47);

  --risk-low-color: rgba(30, 150, 60, 0.896);
  --risk-medium-color: rgb(114, 150, 30);
  --risk-high-color: rgb(150, 86, 30);

  --color-aave: rgba(166, 88, 156, 1);
  --color-paladin: rgba(226, 111, 69, 1);
  --color-apwine: rgba(84, 75, 236, 1);
  --color-paladin-no-alpha: rgba(226, 111, 69, .5);
  --color-paladin-no-alpha: rgba(226, 111, 69, .5);
  --color-apwine-no-alpha: rgba(84, 75, 236, .5);
}

button.reset-button {
  border-style: none;
  color: var(--main-text-color);
  font-weight: normal;
  font: Inter;
  height: fit-content;
}

html {
  font-size: 4vw;
  color: var(--main-text-color);
  font-family: "Linear","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu, Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}

body {
  height: var(--body-height);
  background:
   /* no-repeat radial-gradient(var(--bg-light-1-color) 0%, transparent 60%) 250% -25% / 120% 40%,
    no-repeat radial-gradient(var(--bg-light-1-color) 0%, transparent 60%) 50% 40% / 160% 80%,
    no-repeat radial-gradient(var(--bg-light-3-color) 0%, transparent 60%) 50% 320% / 160% 80%,
    /* no-repeat radial-gradient(blue 0%, transparent 60%) 50% 20% / 120% 40%,
    no-repeat radial-gradient(green 0%, transparent 60%) 50% 70% / 120% 40%,
    no-repeat radial-gradient(red 0%, transparent 60%) 50% 100% / 120% 40%, */
    /* no-repeat radial-gradient(var(--bg-light-1-color) 0%, transparent 60%) -40% 0% / 120% 40%,
    no-repeat radial-gradient(var(--bg-light-1-color) 0%, transparent 60%) 120% 0% / 120% 40%,
    no-repeat radial-gradient(var(--bg-light-3-color) 0%, transparent 60%) -60% 0% / 120% 40%, */
    var(--main-bg-color);
}

header {
  margin-top: -30px;
  height: 0px;
  padding-bottom: 100px;
}

.nav_logo {
  height: 70px;
  border-radius: 40px;
  padding: 10px;
  padding-right: 190px;
}

.navbar {
    position: fixed;
    padding-top: 30px;
    width: 97%;
    z-index: 99;
    margin-bottom: 10px;
    backdrop-filter: blur(20px);
}

.navbar ul {
  margin-top: 0px;
  align-items: center;
  margin-bottom: 0px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.navbar ul li {
  font-size: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.navbar ul li:hover {
  cursor: pointer;
}

.enableEthereumButton{
  font-size: 20px;
  border-color: transparent;
  border-radius: 30%;
  padding: 15px;
  background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
  color:white;
  z-index: 2;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
  transition: border 120ms  1s, background-color, color, box-shadow, opacity;
  background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
  border-radius: 1rem;
  max-width: 20%;
  overflow:hidden;
}

.enableEthereumButton:hover {
cursor: pointer;
background: linear-gradient(92.88deg, rgb(55, 75, 147) 9.16%, rgb(60, 47, 150) 43.89%, rgb(80, 49, 165) 64.72%);

}


.strategy-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.strategy-body .sub-body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width:  var(--box-large-width);
}

.title {
  align-self: flex-start;
  font-weight: bolder;
}

.strategy-schematic {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  width: var(--box-large-width);
  margin-bottom: var(--box-vertical-large-margin);
}

.schematic-connection {
  display: flex;
  flex-direction: row;
}

.schematic-connection .dot {
  height: var(--schematic-dot-radius);
  width: var(--schematic-dot-radius);
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.schematic-connection .dot.left {
  margin-right: var(--merge-margin-neg);
  border-radius: 0% 50% 50% 0%;
}

.schematic-connection .dot.right {
  margin-left: var(--merge-margin-neg);
  border-radius: 50% 0% 0% 50%;
  display: none;
}

.aave-paladin .dot.left {
  background: linear-gradient(to right, transparent, var(--color-aave));
}

.aave-paladin .dot.right {
  background: linear-gradient(to right, var(--color-paladin), transparent);
}

.paladin-apwine .dot.left {
  background: linear-gradient(to right, transparent, var(--color-paladin));
}

.paladin-apwine .dot.right {
  background: linear-gradient(to right, var(--color-apwine), transparent);
}

.schematic-connection .line {
  width: var(--schematic-line-length);
  height: var(--schematic-line-thickness);
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.schematic-connection.aave-paladin .line {
  background: linear-gradient(to right, var(--color-aave), var(--color-paladin), transparent)
}

.schematic-connection.paladin-apwine .line {
  background: linear-gradient(to right, var(--color-paladin) , var(--color-apwine), transparent)
}

.box-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: no-repeat url(../resources/images/landing-page/Image_Soleil.png) 50% 0% / 200% 100%;
  /*background: radial-gradient(circle at center, var(--box-bg-color-gradient-start) 0%, transparent 100%);*/
  box-shadow: 0px 0px var(--shadow-size) 0px var(--shadow-color);
  width: var(--box-large-width);
  margin-top: var(--box-vertical-margin);
  margin-bottom: var(--box-vertical-margin);
  border-radius: var(--box-border-radius);
  border: var(--box-border-width) solid var(--box-border-color);
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background: radial-gradient(circle at center, var(--box-bg-color-gradient-start) 0%, transparent 100%);*/
  box-shadow: 0px 0px var(--shadow-size) 0px var(--shadow-color);
  width: var(--box-large-width);
  margin-top: var(--box-vertical-margin);
  margin-bottom: var(--box-vertical-margin);
  border-radius: var(--box-border-radius);
  border: var(--box-border-width) solid var(--box-border-color);
}

.sub-body .box {
  width: var(--box-small-width);
}

.sub-body .box-bg {
  width: var(--box-small-width);
}

.sub-body .left {
  margin-right: var(--box-vertical-margin);
}

.sub-body .right {
  margin-left: var(--box-vertical-margin);
}

.effective-risk.low {
  color: var(--risk-low-color);
}

.effective-risk.medium {
  color: var(--risk-medium-color);
}

.effective-risk.high {
  color: var(--risk-high-color);
}

.protocol-description {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  width: var(--box-large-width);
}

img.protocol-description-logo {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: var(--box-vertical-margin);
  margin-right: var(--box-vertical-margin);
}

div.deposit-withdraw {
  margin-top: var(--merge-margin);
}

.deposit-button, .withdraw-button  {
  padding-top: var(--small-padding);
  padding-bottom: var(--small-padding);
  margin-bottom: 0px;
  transform: translate(0px, -10px);
  background: linear-gradient(to bottom, transparent 0%, var(--box-border-color) 100%);
  /* todo up */
}

button.deposit-button.selected, button.withdraw-button.selected {
  margin-bottom: var(--merge-margin-neg);
  transform: none;
  background: linear-gradient(to bottom, transparent 0%, var(--box-border-color) 100%);
  border-radius: var(--box-border-radius) var(--box-border-radius) 0px 0px;
  box-shadow:
    var(--shadow-size)      0px                     var(--shadow-size) var(--shadow-size-neg) rgba(0, 0, 0, 0.65),
    var(--shadow-size)      var(--shadow-size-neg)  var(--shadow-size) var(--shadow-size-neg) rgba(0, 0, 0, 0.35),
    0px                     var(--shadow-size-neg)  var(--shadow-size) var(--shadow-size-neg) rgba(0, 0, 0, 0.5),
    var(--shadow-size-neg)  var(--shadow-size-neg)  var(--shadow-size) var(--shadow-size-neg) rgba(0, 0, 0, 0.35),
    var(--shadow-size-neg)  0px                     var(--shadow-size) var(--shadow-size-neg) rgba(0, 0, 0, 0.65);
}

.box.deposit-withdraw-interface {
  margin-top: var(--merge-margin-neg);
}

.box.deposit-withdraw-interface.left-selected {
  border-radius: 0px var(--box-border-radius) var(--box-border-radius) var(--box-border-radius);
}

.box.deposit-withdraw-interface.right-selected {
  border-radius: var(--box-border-radius) 0px var(--box-border-radius) var(--box-border-radius);
}

.interface-deposit, .interface-withdraw {
  flex-direction: column;
  align-items: center;
}

.interface-deposit {
  display: flex;
}

.interface-withdraw {
  display: none; /*avoid a ghost display during page loading*/
}

.token-selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: var(--box-border-radius);
  background-color: var(--box-secondary-color);
  margin-top: 20px;
  margin-bottom: 5px;
}

.token-selector * {
  margin-right: var(--box-vertical-margin);
}

.token-selected-logo, .token-selection-button {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.token-selected-name {
  color: var(--main-bg-color);
  font-weight: bold;
}

.token-selection-button {
  background-color: var(--main-bg-color);
  border-radius: 50%;
}

.token-selection-button.left {
  transform: rotate(90deg);
  margin-left: var(--box-vertical-margin);
}

.token-selection-button.right {
  transform: rotate(-90deg);
}

.wallet-balance {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: var(--box-large-width);
}

.wallet-balance-txt {
  margin-left: var(--medium-padding);
}

.deposit-interface-delimiter {
  height: 0px;
  width: 80%;
  margin-bottom: 10px;
  border-bottom: var(--delimiter-width) solid var(--box-secondary-color)
}

.amount{
  font-size: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: transparent;
  border-color: white;
  color: white;
  margin-bottom: 20px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
}

.supply-token {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: var(--box-large-width);
  margin-top: var(--box-vertical-margin);
  padding-top: 20px;
}

.supply-txt {
  margin-right: var(--medium-padding);
}

button.supply-button {
  padding: var(--medium-padding);
  margin-left: var(--large-padding);
  color: var(--box-bg-color);
  border-radius: var(--box-border-radius);
  font-weight: bold;
  font-size: .3rem;
  background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
  margin-bottom: 20px;
}

button.supply-button:hover {
cursor: pointer;
background: linear-gradient(92.88deg, rgb(55, 75, 147) 9.16%, rgb(60, 47, 150) 43.89%, rgb(80, 49, 165) 64.72%);
}

.chart-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--box-small-width)
}

.sub-text {
  color: var(--sub-text-color);
}

.highlight-text {
  font-weight: bolder;
}

.title-1 {
  font-size: 0.5rem;
}

.title-2 {
  font-size: .35rem;
}

.title-3 {
  font-size: .2rem;
}

.value-1 {
  font-size: .2rem;
}

.value-2 {
  font-size: .15rem;
}

.text-1 {
  font-size: .25rem;
}

.text-2 {
  font-size: .2rem;
}

.text-center{
  text-align: center;
}

.image-large {
  width: 1rem;
  height: 1rem;
}

.image-medium {
  width: .75rem;
  height: .75rem;
}

.image-small {
  width: .5rem;
  height: .5rem;
}

.image-xsmall {
  width: .3rem;
  height: .3rem;
}

.error-message{
  padding-bottom: 20px;
  text-align: center;
  color: red;
  font-size: .25rem;
}

.state-operations{
  visibility: hidden;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 1em;
}

.approval{
  display: flex;
  flex-direction: row;
}

.delegate,
.completed{
  display: flex;
  flex-direction: row;
}

.delegate{
  width: 40%;
}

.completed{
  width: 40%;
}

.operation .dot {
  height: .5em;
  width: .5em;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.operation .dot.left {
  border-radius: 50%;
}

.operation .dot.right {
  border-radius: 50%;
}

.approval .dot.left {
  border-color: rgb(103, 63, 215);
  border-width: 3px;
  border-style: solid;
}

.delegate .dot.right {
  border-color: rgb(103, 63, 215);
  border-width: 3px;
  border-style: solid;}

.completed .dot.right {
  border-color: rgb(103, 63, 215);
  border-width: 3px;
  border-style: solid;
}

.operation .line {
  width: 88%;
  height: .1em;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.operation.delegate .line {
  background: linear-gradient(to right, rgba(114, 224, 86, 0.402), rgb(2, 9, 26));
}

.operation.completed .line {
}

.state-operations-words{
  visibility: hidden;
  z-index: 2;
  display: flex;
  font-size: 0.3em;
  justify-content: center;
  flex-direction: row;
  align-content: space-between;
  width: 90%;
  margin-bottom: 40px;
  height: 1em;
  text-align: center;
}

.approval-word{
  display: flex;
  padding-left: 9.5%;
  flex-direction: row;
  width: 20%;
}
.delegate-word{
  color: rgb(77, 77, 77);
  display: flex;
  padding-left: 26%;
  flex-direction: row;
  width: 40%;
}
.completed-word{
  color: rgb(77, 77, 77);
  display: flex;
  padding-left: 14%;
  flex-direction: row;
  width: 40%;
}





.state-operations-deposit{
  visibility: hidden;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 1em;
}

.approval-deposit{
  display: flex;
  flex-direction: row;
}

.delegate-deposit,
.completed-deposit{
  display: flex;
  flex-direction: row;
}

.delegate-deposit{
  width: 40%;
}

.completed-deposit{
  width: 40%;
}

.operation .dot {
  height: .5em;
  width: .5em;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.operation .dot.left-deposit, 
.operation .dot.right-deposit1, 
.operation .dot.right-deposit2
 {
  border-radius: 50%;
}

.approval .dot.left-deposit {
  border-color: rgb(103, 63, 215);
  border-width: 3px;
  border-style: solid;
}

.delegate .dot.right-deposi1 {
  border-color: rgb(103, 63, 215);
  border-width: 3px;
  border-style: solid;}

.completed .dot.right-deposit2 {
  border-color: rgb(103, 63, 215);
  border-width: 3px;
  border-style: solid;
}

.operation .line-deposit1, 
.operation .line-deposit2
 {
  width: 88%;
  height: .1em;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.operation.delegate .line-deposit1 {
  background: linear-gradient(to right, rgba(114, 224, 86, 0.402), rgb(2, 9, 26));
}

.state-operations-words-deposit{
  visibility: hidden;
  z-index: 2;
  display: flex;
  font-size: 0.3em;
  justify-content: center;
  flex-direction: row;
  align-content: space-between;
  width: 90%;
  margin-bottom: 40px;
  height: 1em;
  text-align: center;
}

.approval-word-deposit{
  display: flex;
  padding-left: 9.5%;
  flex-direction: row;
  width: 20%;
}
.delegate-word-deposit{
  color: rgb(77, 77, 77);
  display: flex;
  padding-left: 26%;
  flex-direction: row;
  width: 40%;
}
.completed-word-deposit{
  color: rgb(77, 77, 77);
  display: flex;
  padding-left: 14%;
  flex-direction: row;
  width: 40%;
}