@font-face {
  font-family: "Inter";
  src: url('../resources/fonts/RasmusAndersson-Inter/1593443255914-Inter-V.ttf');
}

:root {  
  --merge-margin: 0.01rem;
  --merge-margin-neg: -0.01rem;

  --small-padding: .1rem;
  --medium-padding: .35rem;
  --large-padding: .75rem;

  --shadow-size: 8px;
  --shadow-size-half: 4px;
  --shadow-size-neg: -8px;
  --shadow-size-half-neg: -4px;

  --delimiter-width: .01rem;

  --schematic-dot-radius: .4rem;
  --schematic-line-length: 2.5rem;
  --schematic-line-thickness: .06rem;

  --box-large-width: 15rem;
  --box-small-width: 7.25rem;
  
  --box-vertical-margin: .15rem;
  --box-vertical-large-margin: .3rem;

  --box-border-width: 1px;
  --box-border-radius: 0.2rem;

  --main-text-color: white;
  --sub-text-color: rgb(181, 189, 206);

  --main-bg-color: rgb(2, 9, 26);
  --bg-light-1-color: rgba(33, 21, 71, 0.76);
  --bg-light-2-color: rgba(27, 35, 78, 0.8);
  --bg-light-3-color: rgba(30, 65, 65, 0.47);

  --shadow-color: black;

  --box-bg-color-gradient-start: rgb(31, 33, 73);
  --box-secondary-color: rgb(217, 217, 217);
  --box-border-color: rgb(29, 31, 47);

  --risk-low-color: rgba(30, 150, 60, 0.896);
  --risk-medium-color: rgb(114, 150, 30);
  --risk-high-color: rgb(150, 86, 30);

  --color-aave: rgba(166, 88, 156, 1);
  --color-paladin: rgba(226, 111, 69, 1);
  --color-apwine: rgba(84, 75, 236, 1);
  --color-paladin-no-alpha: rgba(226, 111, 69, .5);
  --color-paladin-no-alpha: rgba(226, 111, 69, .5);
  --color-apwine-no-alpha: rgba(84, 75, 236, .5);
}

button.reset-button {
  border-style: none;
  color: var(--main-text-color);
  font-weight: normal;
  font: Inter;
  height: fit-content;
}

html {
  font-size: 4vw;
  color: var(--main-text-color);
  font-family: Inter;
}

body {
  height: var(--body-height);
  background:
    /* no-repeat radial-gradient(var(--bg-light-1-color) 0%, transparent 60%) 250% -25% / 120% 40%,
    no-repeat radial-gradient(var(--bg-light-1-color) 0%, transparent 60%) 50% 40% / 160% 80%,
    no-repeat radial-gradient(var(--bg-light-3-color) 0%, transparent 60%) 50% 320% / 160% 80%, */
    /* no-repeat radial-gradient(blue 0%, transparent 60%) 50% 20% / 120% 40%,
    no-repeat radial-gradient(green 0%, transparent 60%) 50% 70% / 120% 40%,
    no-repeat radial-gradient(red 0%, transparent 60%) 50% 100% / 120% 40%, */
    /* no-repeat radial-gradient(var(--bg-light-1-color) 0%, transparent 60%) -40% 0% / 120% 40%,
    no-repeat radial-gradient(var(--bg-light-1-color) 0%, transparent 60%) 120% 0% / 120% 40%,
    no-repeat radial-gradient(var(--bg-light-3-color) 0%, transparent 60%) -60% 0% / 120% 40%, */
    var(--main-bg-color);
}

header {
  margin-top: -30px;
  height: 0px;
  padding-bottom: 100px;
}

.nav_logo {
  height: 70px;
  border-radius: 40px;
  padding: 10px;
  padding-right: 190px;
}

.navbar {
    position: fixed;
    padding-top: 30px;
    width: 100%;
    z-index: 99;
    margin-bottom: 10px;
    backdrop-filter: saturate(180%) blur(20px);
}

.navbar ul {
  margin-top: 0px;
  align-items: center;
  margin-bottom: 0px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.navbar ul li {
  font-size: 20px;
}

.navbar ul li:hover {
  cursor: pointer;
}

.launch_app {
  padding-left: 170px;
  padding-right: 60px;
}


.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presentation * {
  /* width: var(--box-large-width); */
  width: 100%;
}

.top-information {
  background:
    no-repeat url(../resources/images/landing-page/Image_Soleil.png) 50% 0% / 200% 100%;
}

.top-information p {
  line-height: .4rem;
  padding-left: 3.5rem;
  padding-right: 2rem;
}

.value-proposition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:
  linear-gradient(to bottom, rgb(0, 2, 17), transparent, rgb(4, 6, 20));
}

.value-proposition p.statement {
  margin-bottom: .1rem;
}

.value-proposition p {
  line-height: .4rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  text-align: center;
}

.value-proposition p .proposition-explained {
  line-height: 0;
}

.delimiter {
  margin-top: var(--box-vertical-margin);
  margin-bottom: var(--box-vertical-large-margin);
  height: 0px;
  width: 75%;
  border-bottom: var(--delimiter-width) solid var(--box-secondary-color)
}

.launch-button {
  width: 2.75rem;
  height: 1rem;
  text-align: center;
  padding-top: var(--small-padding);
  padding-bottom: var(--small-padding);
  margin-top: var(--box-vertical-large-margin);
  margin-bottom: 0px;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
  transition: border 120ms ease 0s, background-color, color, box-shadow, opacity;
  font-weight: bold;
  background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
  border-radius: 1rem;
}

.launch-button:hover {
  cursor: pointer;

}

.ESG {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 1rem;
  background:
    no-repeat url(../resources/images/landing-page/fond_nebuleux.png) center / 200% 200%;
}

.ESG p {
  text-align: center;
  margin-top: 1.5rem;
}

.esg-logos {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  width: 10rem;
}

.sub-text {
  color: var(--sub-text-color);
}

.highlight-text {
  font-weight: bolder;
}

.title-1 {
  font-size: 0.6rem;
}

.title-2 {
  font-size: .45rem;
}

.title-3 {
  font-size: .3rem;
}

.value-1 {
  font-size: .2rem;
}

.value-2 {
  font-size: .15rem;
}

.text-1 {
  font-size: .25rem;
}

.text-2 {
  font-size: .2rem;
}

.image-large {
  width: 1rem;
  height: 1rem;
}

.image-medium {
  width: .75rem;
  height: .75rem;
}

.image-small {
  width: .5rem;
  height: .5rem;
}

.image-xsmall {
  width: .3rem;
  height: .3rem;
}