.ray-of-light3,
.ray-of-light5,
.ray-of-light7,
.ray-of-light9,
.ray-of-light11,
.ray-of-light4,
.ray-of-light6,
.ray-of-light8,
.ray-of-light10,
.ray-of-light12,
.ray-of-light13,
.ray-of-light14,
.ray-of-light15,
.ray-of-light16,
.ray-of-light17,
.ray-of-light18,
.ray-of-light19,
.ray-of-light20,
.ray-of-light21,
.ray-of-light22,
.ray-of-light23,
.ray-of-light24
 {
  position: absolute;
  left: 0;
  width: 15px;
  height: 1px;
  background: white;
  opacity: 0.8;
}

.ray-of-light3{
  /*background-color: red;*/
  top: 20%;
  animation: ray-of-light-animation3 0.25s linear;
}


@keyframes ray-of-light-animation3 {
  from {
    transform: translateX(83px); /* Start the ray of light just off the left edge of the delimiter */
  }
  to {
    transform: translateX(180px); /* Move the ray of light across the full width of the delimiter, plus an extra 30 pixels */
  }
}

.ray-of-light5{
  top: 59%;
  animation: ray-of-light-animation5 0.25s linear;
}

@keyframes ray-of-light-animation5 {
  from {
    transform: translateX(483px); /* Start the ray of light just off the left edge of the delimiter */
  }
  to {
    transform: translateX(580px); /* Move the ray of light across the full width of the delimiter, plus an extra 30 pixels */
  }
}


.ray-of-light7{
  top: 80%;
  animation: ray-of-light-animation7 0.25s linear;
}

@keyframes ray-of-light-animation7 {
  from {
    transform: translateX(683px); /* Start the ray of light just off the left edge of the delimiter */
  }
  to {
    transform: translateX(780px); /* Move the ray of light across the full width of the delimiter, plus an extra 30 pixels */
  }
}


.ray-of-light9{
  top: 40%;
  animation: ray-of-light-animation9 0.25s linear;
}

@keyframes ray-of-light-animation9 {
  from {
    transform: translateX(823px); /* Start the ray of light just off the left edge of the delimiter */
  }
  to {
    transform: translateX(923px); /* Move the ray of light across the full width of the delimiter, plus an extra 30 pixels */
  }
}

.ray-of-light11{
  top: 90%;
  animation: ray-of-light-animation11 0.25s linear;
}

@keyframes ray-of-light-animation11 {
  from {
    transform: translateX(103px); /* Start the ray of light just off the left edge of the delimiter */
  }
  to {
    transform: translateX(203px); /* Move the ray of light across the full width of the delimiter, plus an extra 30 pixels */
  }
}

.ray-of-light13{
  top: 90%;
  animation: ray-of-light-animation13 0.25s linear;
}

@keyframes ray-of-light-animation13 {
  from {
    transform: translateX(1103px); /* Start the ray of light just off the left edge of the delimiter */
  }
  to {
    transform: translateX(1203px); /* Move the ray of light across the full width of the delimiter, plus an extra 30 pixels */
  }
}

.ray-of-light15{
  top: 30%;
  animation: ray-of-light-animation15 0.25s linear;
}

@keyframes ray-of-light-animation15 {
  from {
    transform: translateX(1103px); /* Start the ray of light just off the left edge of the delimiter */
  }
  to {
    transform: translateX(1203px); /* Move the ray of light across the full width of the delimiter, plus an extra 30 pixels */
  }
}

.ray-of-light17{
  top: 40%;
  animation: ray-of-light-animation17 0.25s linear;
}

@keyframes ray-of-light-animation17 {
  from {
    transform: translateX(1403px); /* Start the ray of light just off the left edge of the delimiter */
  }
  to {
    transform: translateX(1503px); /* Move the ray of light across the full width of the delimiter, plus an extra 30 pixels */
  }
}


.ray-of-light19{
  top: 70%;
  animation: ray-of-light-animation19 0.25s linear;
}

@keyframes ray-of-light-animation19 {
  from {
    transform: translateX(1603px); /* Start the ray of light just off the left edge of the delimiter */
  }
  to {
    transform: translateX(1703px); /* Move the ray of light across the full width of the delimiter, plus an extra 30 pixels */
  }
}


.ray-of-light4{
  /*background-color: rgb(16, 199, 16);*/
  top: 60%;
  animation: ray-of-light-animation4 0.25s linear;
}

@keyframes ray-of-light-animation4 {
  from {
    transform: translateX(103px); /* Start the ray of light just off the left edge of the delimiter */
  }
  to {
    transform: translateX(203px); /* Move the ray of light across the full width of the delimiter, plus an extra 30 pixels */
  }
}

.ray-of-light6{
  top: 20%;
  animation: ray-of-light-animation6 0.25s linear;
}

@keyframes ray-of-light-animation6 {
  from {
    transform: translateX(683px); /* Start the ray of light just off the left edge of the delimiter */
  }
  to {
    transform: translateX(780px); /* Move the ray of light across the full width of the delimiter, plus an extra 30 pixels */
  }
}

.ray-of-light8{
  top: 85%;
  animation: ray-of-light-animation8 0.25s linear;
}

@keyframes ray-of-light-animation8 {
  from {
    transform: translateX(1583px); /* Start the ray of light just off the left edge of the delimiter */
  }
  to {
    transform: translateX(1680px); /* Move the ray of light across the full width of the delimiter, plus an extra 30 pixels */
  }
}


.ray-of-light10{
  top: 11%;
  animation: ray-of-light-animation10 0.25s linear;
}

@keyframes ray-of-light-animation10 {
  from {
    transform: translateX(1483px); /* Start the ray of light just off the left edge of the delimiter */
  }
  to {
    transform: translateX(1580px); /* Move the ray of light across the full width of the delimiter, plus an extra 30 pixels */
  }
}


.ray-of-light12{
  top: 50%;
  animation: ray-of-light-animation12 0.25s linear;
}

@keyframes ray-of-light-animation12 {
  from {
    transform: translateX(1083px); /* Start the ray of light just off the left edge of the delimiter */
  }
  to {
    transform: translateX(1180px); /* Move the ray of light across the full width of the delimiter, plus an extra 30 pixels */
  }
}

.ray-of-light14{
  top: 95%;
  animation: ray-of-light-animation14 0.25s linear;
}

@keyframes ray-of-light-animation14 {
  from {
    transform: translateX(683px); /* Start the ray of light just off the left edge of the delimiter */
  }
  to {
    transform: translateX(783px); /* Move the ray of light across the full width of the delimiter, plus an extra 30 pixels */
  }
}